#Interdit affichage de toutes mes extensions + js

<ifDefine Free>
# To deny PHPs + js Pour Free.fr
<Files ~ "\.(php|php3|php4|php5|phtml|pl|cgi|js)$">                                                                              
  order deny,allow                                                                                                            
  deny from all                                                                                                               
</Files>  
</ifDefine>

<IfDefine !Free>
# To deny PHPs + js Pour autres hébergeurs
# Dans la version Apache 2.4 mod_authz_host 
# Dans la version Apache 2.2 mod_access_compat

	# Apache 2.4
<IfModule mod_authz_core.c>
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|cgi|js)$">
    Require all denied
</FilesMatch>
</IfModule>

	# Apache 2.2
<IfModule !mod_authz_core.c>
<Files ~ "\.(php|php3|php4|php5|phtml|pl|cgi|js)$">                                                                              
  order deny,allow                                                                                                            
  deny from all                                                                                                               
</Files>  
</IfModule>
</IfDefine>

 
