# To deny PHPs + js
<Files ~ "\.(php|php3|php4|php5|phtml|pl|cgi|js)$">                                                                              
  order deny,allow                                                                                                            
  deny from all                                                                                                               
</Files>  
