<!doctype html>
<html lang='fr' dir='ltr'>
<head>
	<meta charset="UTF-8">
	<meta name="author" content="JCE">
	<meta name="Description" content="GestAssoPhp+Pg">
	<meta name="ROBOTS" content="noindex, nofollow">
	<meta name="keywords" lang="fr" content="GestAssoPhp">
	<link rel="shortcut icon" href="favicon.ico">
<style type="text/css">
<!--
    A		{ text-decoration: none}
    A:hover	{ color : #CA000A; text-decoration: underline}
-->
</style>	
	<title>GestAssoPhp+Pg Pour g&eacute;rer votre association - ERREUR</title>
</head>

<body style="font-family: Verdana,Arial, Helvetica, sans-serif">
!! ERREUR ...
</body>
</html>
